body, html {
    margin: 0;
    font-family: monospace;
}

#bar-chart {
    text-align: center;
}

#title {
    font-size: 30px;
    color: #dd4814;
}

#description {
    font-size: 20px;
    color: #5e0080
}

#x-axis path, #x-axis line {
    color: #5e0080
}

#y-axis path, #y-axis line {
    color: #5e0080
}

#x-axis text, #y-axis text {
    color: #dd4814
}

#tooltip {
    position: absolute;
    text-align: center;
    background: #dd4814;
    color: cyan;
}